supabase/functions/*
!supabase/functions/notificar-fluxo/
!supabase/functions/notificar-fluxo/index.ts
!supabase/functions/enviar-avaliacao/
!supabase/functions/enviar-avaliacao/index.ts
!supabase/functions/notificar-gestores/
!supabase/functions/notificar-gestores/index.ts
!supabase/functions/notificar-gestores/README.md
!supabase/functions/invite-colaborador/
!supabase/functions/invite-colaborador/index.ts
!supabase/functions/admin-colaborador/
!supabase/functions/admin-colaborador/index.ts
!supabase/functions/forgot-password/
!supabase/functions/forgot-password/index.ts
Sincerão_Logo.png
Sincerão_LogoB.png
*.docx
